/* Global ====================== */
:root {
  --dark-blue: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 93.25%; /* 15px */
}

body {
  background: #f0f2f5;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-radius: 0;
}

/* Titles ======================= */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

/* Mini cards ========================= */

.info{
  font-size: small;

  color: var(--dark-blue);
  background: white;

  position: absolute;
  right: 0;
  top: 0;

  box-sizing: border-box;

  min-width: 200px;
  min-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding:1rem 2rem;
  border-radius: 0.25rem;
  margin:1rem;

  transform: scale(0);
  transition:all 0.2s 0.2s;
}

.info.sort.active{
  transform: scale(0.9);
}

.sort-options{
  font-size: small;

  height:0;

  color: var(--dark-blue);
  background: white;

  box-sizing: border-box;

  border-radius: 0.25rem;

  transform: scale(0);
  transition:all 0.2s 0.2s;
}

.sort-options.active{
  transform: scale(1.0);
  height:100%;
}

/* Links & Buttons ============== */
a {
  text-decoration: none;
  color: var(--green);
}

a:hover {
  color: var(--light-green);
}

button{
  width: 100%;
  height: 50px;

  border: none;

  color:white;
  background: var(--green);

  padding: 0;
  
  border-radius: 0.25rem;

  cursor: pointer;
}

button:hover{
  background: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel{
  color: var(--red);
  border: 2px var(--red) solid;
  border-radius: 0.25rem;

  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

/* Header ======================= */
header {
  /* background: #2d4a22; */
  /* background: linear-gradient(45deg, #196050,#2d4a22, #051803fc); */
  background: linear-gradient(45deg, #160000,#2d4a22, #051803fc);
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

/* Balance ======================= */

#balance {
  margin-top: -6rem;
}

#balance h2 {
  color: white;
  margin-top: 0;
}

/* Cards ======================== */
.card {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  margin-bottom: 2rem;
  color: var(--dark-blue);
  transition: all .2s ease-in-out;
}

.card:hover{
  box-shadow: -1px 5px 20px 0px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.card:hover ~ .info.card-filter{
  transform: scale(0.9);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#incomeDisplay {
  color:  #12a454
}
#expenseDisplay {
  color: var(--red)
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background: var(--green);
  color: #fff;
}

/* Table ======================== */
.transactionActions{
  display: flex;
}

.transactionActions a.btn-sort {
  margin-left: auto;
}

/* Table ======================== */
#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#sort-table {
  width: 100%;
  border-spacing: 0;
}

#sort-table tbody tr td{
  text-align:center;
} 

#sort-table tbody tr td img{
  opacity: 0.7
}

#sort-table tbody tr td img:hover {
  opacity: 1;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;

  pointer-events: none;
}

table th {
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table td {
  background: white;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

table#data-table tbody tr {
  opacity: 0.7;
  pointer-events: auto;
}

table#data-table tbody tr:hover {
  opacity: 1;
}

table#data-table:hover ~ .info.edit{
  transform: scale(0.9);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

/* Modal ======================= */
.modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #f0f2f5;
  padding: 2.4rem;
  border-radius: 0.25rem;
}


/* Swal ======================= */
.swal2-content {
  font-size: small;
}

.swal2-actions{
  flex-wrap: nowrap;
}

.swal2-title{
  font-weight: 400;
}

/* Form ======================= */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;

  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small{
  opacity: 0.4;
}

.input-group.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button{
  width: 48%;
}


/* Footer ======================= */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);

  opacity: 0.6;
  }

/* Responsive ================== */
@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

}